<div id='boat'>
	<div class='container'>
		<div class='query'>
			<h2><%= @q %></h2>
		</div>
	</div>
</div>

<div class='search_results container'>
	<h3>Paddlers</h3>
	<% unless @paddlers.empty? %>
	<ul>
		<%= render :partial => "paddler", :collection => @paddlers %>
	</ul>
	<% else %>
	No paddlers found.
	<% end %>
</div>

<div class='search_results container'>
	<h3>Clubs</h3>
	<% unless @clubs.empty? %>
	<ul>
		<%= render :partial => "paddler", :collection => @clubs %>		
	</ul>
	<% else %>
	No clubs found.
	<% end %>
</div>
