<div id='boat'>
	<div class='container'>
		<div class='query'>
			<h2><%= @q %></h2>
		</div>
	</div>
</div>

<div class='search_results container'>
	<h3>Paddlers</h3>
	<% unless @paddlers.empty? %>
	<ul>
		<% for paddler in @paddlers %>
		<li><%= link_to paddler.full_name, :controller => :boats, :action => :show, :id => paddler.boat.number, :year => 2009 %></li>
		<% end%>
	</ul>
	<% else %>
	No paddlers found.
	<% end %>
</div>
