/* @group global */

* {
	margin: 0px;
	padding: 0px;
}

html, body {
	margin: 0px;
	padding: 0px;
	background: #fff
	height: 100%;
	min-width: 800px;
	font: 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

img {
	border: 0px;
}

/* @end */


div#header:after,
div#boat:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

div.container {
	margin: 0px auto;
	width: 700px;
}

div#map {
	margin-top: 22px;
}

div#boat {
	background: #AC0000;
	text-shadow: #666 0 1px 1px;
	color: #fff;
}

div#boat h1 {
	padding: 26px 0px 20px 0px;
	font-size: 52px;
	font-weight: normal;
}

div.browse {
	padding: 10px 0px 10px 0px;	
}

div.browse h2 {
	font-size: 26px;
	font-weight: normal;
}

div#boat h2 {
	font-size: 26px;
	padding-bottom: 5px;
}

div.number {
	float: left;
	width: 250px;
}

div.names {
	float: right;
	width: 420px;
	text-align: right;
	padding: 16px 0px 0px 0px;
}

div#header {
	background: #000;
	text-shadow: #666 0 1px 1px;
	color: #fff;
	padding: 3px;
}

div.title {
	font-size: 16px;
	font-weight: bold;
	float: left;
	width: 200px;
}

div.title a, div.title a:visited {
	text-decoration: none;
	color: #fff;
}

div.title a:hover {
	text-decoration: underline;
}

div.links {
	float: left;
	width: 250px;
}

div.links a {
	color: #fff;
}

div.links a:hover {
	color: #f00;
	text-shadow: none;
}

div.search {
	float: right;
	width: 100px;
}

div#map {
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 10px;
}