/* @group global */

* {
	margin: 0px;
	padding: 0px;
}

html, body {
	margin: 0px;
	padding: 0px;
	background: #fff
	height: 100%;
	min-width: 800px;
	font: 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

img {
	border: 0px;
}

/* @end */


div#header:after,
div#details:after,
div#boat:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

div.container {
	margin: 0px auto;
	width: 700px;
}

div#map {
	margin-top: 22px;
}

div#boat {
	background: #AC0000;
	text-shadow: #666 0 1px 1px;
	color: #fff;
}

div#boat h1 {
	padding: 26px 0px 20px 0px;
	font-size: 52px;
	font-weight: normal;
}

div.browse {
	padding: 10px 0px 10px 0px;	
}

div.browse h2 {
	font-size: 26px;
	font-weight: normal;
}

div#boat h2 {
	font-size: 26px;
	padding-bottom: 5px;
}

div.number {
	float: left;
	width: 250px;
}

div.names {
	float: right;
	width: 420px;
	text-align: right;
	padding: 16px 0px 0px 0px;
}

div#header {
	background: #000;
	text-shadow: #666 0 1px 1px;
	color: #fff;
	padding: 3px;
}

div.title {
	font-size: 16px;
	font-weight: bold;
	float: left;
	width: 200px;
}

div.title a, div.title a:visited {
	text-decoration: none;
	color: #fff;
}

div.title a:hover {
	text-decoration: underline;
}

div.links {
	float: left;
	width: 250px;
}

div.links a {
	color: #fff;
}

div.links a:hover {
	color: #f00;
	text-shadow: none;
}

div.search {
	float: right;
	width: 100px;
}

div#map {
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 10px;
}

div#footer {
	border-top: 1px solid #ccc;
	margin-top: 10px;
	padding-top: 5px;
	padding-bottom: 20px;
	font-size: 11px;
	color: #666;
}

div#timings {
	float: left;
	width: 450px;
}

div#timings table {
	font-size: 12px;
	padding: 0px;
}

div#timings th, div.entry th, div.search_results th {
	font-weight: normal;
	text-align: left;
	border-bottom: 1px solid #AC0000;
}

div.entry th, div.search_results th {
	font-size: 12px;
	color: #666;
}

div.entry td {
	padding: 3px;
}

div.entry tr.alt {
	background: #efefef;
}

div#timings td.info {
	color: #666;
	font-size: 11px;
}

div#timings td.divider {
	padding-top: 10px;
}

div#positions {
	float: right;
	width: 200px;
	margin-top: 18px;
	margin-right: 10px;
}

div.result {
	background: #ccc;
	color: #fff;
	padding: 10px;
	text-align: center;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	text-shadow: #aaa 0 1px 1px;
	margin-bottom: 10px;
}

div.position {
	border-bottom: 1px solid #aaa;
	font-size: 32px;
	padding-bottom: 10px;
	font-weight: bold;
}

div.time {
	padding-top: 10px;
	font-size: 32px;
}

div.value {
	font-size: 32px;
	padding-top: 3px;
}

div.key {
	margin-top: 10px;
	border-top: 1px solid #aaa;
	font-size: 15px;
}

div.chart {
	margin-top: 20px;
}

div.legend {
	text-align: center;
	font-size: 12px;
	color: #ccc;
}

div#footer a {
	color: #AC0000;
	text-decoration: none;
}

div#footer a:hover {
	text-decoration: underline;
}

div.query, div.entry {
	padding: 10px 0px 10px 0px;
}

div.search_results {
	margin-top: 20px;
	margin-bottom: 20px;
}

div.entry h3, div.search_results h3 {
	margin-bottom: 10px;
	padding-bottom: 5px;
	border-bottom: 1px solid #ccc;
}

div.search_results ul {
	margin-left: 20px;
	list-style: square;
}

div.entry a, div.entry a:visited, div.search_results a, div.search_results a:visited {
	color: #AC0000;
	text-decoration: none;
}

div.entry a:hover, div.search_results a:hover {
	text-decoration: underline;	
}

div#club {
	border-bottom: 1px solid #ccc;
	padding-bottom: 10px;
	margin-bottom: 5px;
	font-style: italic;
}

div.entry {
	
}