<div id='footer' class='container'>
	a canoe/data mash up, curated by <%= link_to 'mza', 'http://twitter.com/mza' %> &middot; all timings are provisional - official times and positions at <%= link_to 'dwrace.org.uk', 'http://www.dwrace.org.uk' %>
</div>
<script type="text/javascript" src="http://include.reinvigorate.net/re_.js"></script>
<script type="text/javascript">
re_("k9a0d-v782fwxgut");
</script>